@tailwind base;
@tailwind components;
@tailwind utilities;

.finn-card {
  @apply h-[486px] min-w-[348px] bg-[url('../images/finn-background.png')] rounded-[16px] flex justify-center items-center opacity-70 hover:opacity-100 hover:scale-110 transition-all duration-300 cursor-pointer;
}

.bb8-card {
  @apply h-[486px] min-w-[348px] bg-[url('../images/bb8-background.png')] rounded-[16px] flex justify-center items-center opacity-70 hover:opacity-100 hover:scale-110 transition-all duration-300 cursor-pointer;
}

.rey-card {
  @apply min-w-[436px] z-50 -m-28 h-[608px] bg-[url('../images/rey-background.png')] rounded-[20px] px-10 py-12 flex flex-col gap-[42px] opacity-90 hover:opacity-100 scale-90 hover:scale-100 transition-all duration-700;
}

.card-text {
  color: transparent;
  -webkit-text-stroke: #312d74 1px;
  text-align: center;
  font-family: Source Sans 3;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.56px;
  text-transform: uppercase;
  background-color: transparent;
}

@media (max-width: 628px) {
  .finn-card {
    @apply h-[406px] min-w-[308px] bg-[url('../images/finn-background.png')] rounded-[16px] flex justify-center items-center opacity-70 hover:opacity-100 hover:scale-110 transition-all duration-300 cursor-pointer;
  }
  .bb8-card {
    @apply h-[406px] min-w-[308px] bg-[url('../images/bb8-background.png')] rounded-[16px] flex justify-center items-center opacity-70 hover:opacity-100 hover:scale-110 transition-all duration-300 cursor-pointer;
  }

  .rey-card {
    @apply min-w-[336px] z-50 -m-28 h-[528px] bg-[url('../images/rey-background.png')] rounded-[20px] px-10 py-12 flex flex-col gap-[42px] opacity-90 hover:opacity-100 scale-90 hover:scale-100 transition-all duration-700;
  }
}
